html, body {
    background-color: #eee;
}
body {
    padding-top: 0px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
    text-align: center; /* center align it with the container */
}


/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 10px;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    padding-left: 9px;
    margin-left: 10px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}

.
.dataitems{
	
		margin-left: 32px;
		margin-bottom: 10px;
		text-size:14px;
		
	}
	
.box{
	border : 1px solid #5D90B7;
	background-color: #F0F4F5;
	line-height: 3px;
	
}	

.headingPara{
	border : 0px solid black;
	padding:10px;
	background-color: blue;
	color:white;
	
	
}
#rawInput{
	margin-left:-150px;
	width:600px;
	height:265px;
	
	}
	
	
#about{
	text-align: justify;
	border: 1px solid #5D90B7;
	padding:10px;
}	

.inputdisplay{
	text-align: justify;
	background-color: #FFFDF9;
	padding: 20px;
	width:700px;
}	

.topbar{
	background-color: black;
	color:white
}

img{
	vertical-align: middle;
}

ul {
    				list-style-type: none;
   
}
			
ul li{
    				font-size: 12px;
    				color:black;
    				font-family: verdana;
   
}

.footer{
		
		text-color:black;
		padding-top:5px;
		background-color: black;
		text-align: center;
		height:25px;
}
.contentbody{
		
		height:800px;
	
}
fieldset{
	margin-bottom:0px;
}
