@(name:String,input:String)
@import scala.util.parsing.json._
@import com.google.gson.Gson

    
 @main(title = "Diskoverora Text Analyzer") {
 
    <script>
    
    	$(document).ready(function(){

    	//	 alert('The paragraph was clicked.');
    		 
    
    	
		function capitalizeString(val){
			var res=val.split(" ");
			var str="";
			var completeStr="";
			$.each(res, function(k1, v1) {
				str=v1.charAt(0).toUpperCase()+v1.substr(1).toLowerCase();
				
				if(completeStr.length>0)
					completeStr=completeStr + ' ' + str;
				else
					completeStr=str;
			});
			
			return completeStr.trim();
		}
		
		
		$("#person").on('click','#pers',function () {
								var selectedEntity=$(this).text();
								var str=$('#userinput').text();
								var inputStr="";
								
								var re = new RegExp(selectedEntity,"ig");
								str=str.replace(re,'<code class=personhighlight>'+ selectedEntity + '</code>');
								//$('#userinput').html(str);
								
								var res=selectedEntity.split(" ");
								$.each(res, function(k1, v1) {
									
									//alert(v1);
									v1=v1.charAt(0).toUpperCase()+v1.substr(1).toLowerCase();
									var re = new RegExp(v1,"ig");
									str=str.replace(re,'<code class=personhighlight>'+ v1 + '</code>');
									//inputStr=inputStr+str;
									
									
								});
								$('#userinput').html(str);
								
							});

		
		$("#location").on('click','#loc',function () {
								var selectedEntity=$(this).text();
								var str=$('#userinput').text();
								var re = new RegExp(selectedEntity,"ig");
								str=str.replace(re,'<code class=locationhighlight>'+ selectedEntity + '</code>');
								$('#userinput').html(str);
							});
		
		$("#organization").on('click','#org',function () {
								var selectedEntity=$(this).text();
								var str=$('#userinput').text();
								var re = new RegExp(selectedEntity,"ig");
								str=str.replace(re,'<code class=organizationhighlight>'+ selectedEntity + '</code>');
								$('#userinput').html(str);
							});
		
		
		$("#currency").on('click','#curr',function () {
								var selectedEntity=$(this).text();
								var str=$('#userinput').text();
							
								var tmp=selectedEntity;
								var specials = new RegExp("[.*+?|()\\[\\]{}\\\\]", "g"); 
		 						re=selectedEntity.replace(specials, "\\$&");
								str=str.replace(re,'<code class=currencyhighlight>'+ tmp + '</code>');
								$('#userinput').html(str);
								
		});
							
		$("#percent").on('click','#perc',function () {
								var selectedEntity=$(this).text();
								var str=$('#userinput').text();
								/*
								var re = new RegExp(selectedEntity,"ig");
								str=str.replace(re,'<code class=percenthighlight>'+ selectedEntity + '</code>');
								$('#userinput').html(str);
								*/
								var tmp=selectedEntity;
								var specials = new RegExp("[.*+?|()\\[\\]{}\\\\]", "g"); 
		 						re=selectedEntity.replace(specials, "\\$&");
								str=str.replace(re,'<code class=percenthighlight>'+ tmp + '</code>');
								$('#userinput').html(str);
							});
		
		$("#date").on('click','#dat',function () {
								var selectedEntity=$(this).text();
								var str=$('#userinput').text();
								var re = new RegExp(selectedEntity,"ig");
								str=str.replace(re,'<code class=datehighlight>'+ selectedEntity + '</code>');
								$('#userinput').html(str);
							});
							
		$("#time").on('click','#tim',function () {
								var selectedEntity=$(this).text();
								var str=$('#userinput').text();
								var re = new RegExp(selectedEntity,"ig");
								str=str.replace(re,'<code class=timehighlight>'+ selectedEntity + '</code>');
								$('#userinput').html(str);
							});
		
    	var series = @{Html(new Gson().toJson(name))};
    	var personcount=0;
    	var organizationcount=0;
    	var locationcount=0;
    	var currencycount=0;
    	var percentcount=0;
    	var datecount=0;
    	var timecount=0;
    	
    	var sentences='';
    	
		//alert(series);
		
		
    	var str="@input";
    	
    	$.each(JSON.parse(series), function(idx, obj) {
    		$.each(obj, function(k1, v1) {
                //alert("M2-"+ k1 + ' ' + v1);
                
                if(k1=='date'){
                	var datearray=[];
                	$.each(v1, function(k10, v10) {
						capStr=capitalizeString(v10);
						var found = $.inArray(capStr, datearray);
						//alert(found);
						re = new RegExp(capStr,"ig");
						str=str.replace(re,'<code class=datehighlight>'+ capStr + '</code>');
						if(found==-1){
							datecount=datecount+1;
							datearray.push(capStr);
							var strr="<li id='dat'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#date").append(strr);
						}
					});
                	
                }
                
                if(k1=='currency'){
                	var currencyarray=[];
                	$.each(v1, function(k10, v10) {
						capStr=capitalizeString(v10);
						capStr=v10;
						//alert(capStr);
						var res=capStr.split(" ");
						capStr=res[0]+res[1];
						var found = $.inArray(capStr, datearray);
						
						var tmp=capStr;
						var specials = new RegExp("[.*+?|()\\[\\]{}\\\\]", "g"); 
 						re=capStr.replace(specials, "\\$&");
						str=str.replace(re,'<code class=currencyhighlight>'+ tmp + '</code>');
						
						if(found==-1){
							currencycount=currencycount+1;
							currencyarray.push(capStr);
							var strr="<li id='curr'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#currency").append(strr);
						}
					});
                	
                }
                if(k1=='percent'){
                	var percentarray=[];
                	$.each(v1, function(k10, v10) {
						capStr=capitalizeString(v10);
						capStr=v10;
						//alert(capStr);
						var res=capStr.split(" ");
						capStr=res[0]+res[1];
						var found = $.inArray(capStr, percentarray);
						
						var tmp=capStr;
						var specials = new RegExp("[.*+?|()\\[\\]{}\\\\]", "g"); 
 						re=capStr.replace(specials, "\\$&");
						str=str.replace(re,'<code class=percenthighlight>'+ tmp + '</code>');
						
						if(found==-1){
							percentcount=percentcount+1;
							percentarray.push(capStr);
							var strr="<li id='perc'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#percent").append(strr);
						}
					});
                	
                }
                
                if(k1=='time'){
                	var timearray=[];
                	$.each(v1, function(k10, v10) {
						//capStr=capitalizeString(v10);
						capStr=v10;
						var found = $.inArray(capStr, timearray);
						//alert(found);
						re = new RegExp(capStr,"ig");
						str=str.replace(re,'<code class=timehighlight>'+ capStr + '</code>');
						if(found==-1){
							timecount=timecount+1;
							timearray.push(capStr);
							var strr="<li id='tim'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#time").append(strr);
						}
					});
                	
                }
                
    			$.each(v1, function(k2, v2) {
				
						if(k1=='personAlias')
                    	{
							
							//alert("AcM3-" + capitalizeString(k2));
							personcount=personcount+1;
							var capStr=capitalizeString(k2);
							var strr="<li id='pers'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							//$("#person").append($("<li><a id='pers' href='#'>").append(capStr));
							$("#person").append(strr);
                    		var re = new RegExp(capStr,"ig");
                    		str=str.replace(re,'<code class=personhighlight>'+ capStr + '</code>');
                    		//alert(str);
							
							
							$.each(v2, function(k3, v3) {
								capStr=capitalizeString(v3);
								re = new RegExp(capStr,"ig");
								str=str.replace(re,'<code class=personhighlight>'+ capStr + '</code>');
							});
							
                    	}
						else if(k1=='locationAlias')
                    	{
							
							//alert("AcM3-" + capitalizeMe(k2));
							locationcount=locationcount+1;
							var capStr=capitalizeString(k2);
							var strr="<li id='loc'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#location").append(strr);
							
                    		//$("#location").append($('<li>').append(capStr));
                    		var re = new RegExp(capStr,"g");
                    		str=str.replace(re,'<code class=locationhighlight>'+ capStr + '</code>');
                    		//alert(str);
							$.each(v2, function(k3, v3) {
								capStr=capitalizeString(v3);
								re = new RegExp(capStr,"ig");
								str=str.replace(re,'<code class=locationhighlight>'+ capStr + '</code>');
							});
                    	}
						else if(k1=='organizationAlias')
                    	{
							
							//alert("AcM3-" + capitalizeMe(k2));
							organizationcount=organizationcount+1;
							var capStr=capitalizeString(k2);
							var strr="<li id='org'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#organization").append(strr);
							
                    		//$("#organization").append($('<li>').append(capStr));
                    		var re = new RegExp(capStr,"ig");
                    		str=str.replace(re,'<code class=organizationhighlight>'+ capStr + '</code>');
                    		//alert(str);
							
							$.each(v2, function(k3, v3) {
								capStr=capitalizeString(v3);
								re = new RegExp(capStr,"ig");
								str=str.replace(re,'<code class=organizationhighlight>'+ capStr + '</code>');
							});
							
                    	}
						else if(k1=='currencyAlias')
                    	{
							
							//alert("AcM3-" + capitalizeMe(k2));
							currencycount=currencycount+1;
							var capStr=capitalizeString(k2);
							
							
							var strr="<li id='curr'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#currency").append(strr);
							
                    		//$("#currency").append($('<li>').append(capStr));
                    		var re = new RegExp(capStr,"ig");
                    		str=str.replace(re,'<code class=currencyhighlight>'+ capStr + '</code>');
                    		//alert(str);
							$.each(v2, function(k3, v3) {
								capStr=capitalizeString(v3);
								re = new RegExp(capStr,"ig");
								str=str.replace(re,'<code class=currencyhighlight>'+ capStr + '</code>');
							});
                    	}
						else if(k1=='percentAlias')
                    	{
							
							//alert("AcM3-" + capitalizeMe(k2));
							percentcount=percentcount+1;
							var capStr=capitalizeString(k2);
							
							
							var strr="<li id='perc'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#percent").append(strr);
							
                    		//$("#percent").append($('<li>').append(capStr));
                    		var re = new RegExp(capStr,"ig");
                    		str=str.replace(re,'<code class=percenthighlight>'+ capStr + '</code>');
                    		//alert(str);
							$.each(v2, function(k3, v3) {
								capStr=capitalizeString(v3);
								re = new RegExp(capStr,"ig");
								str=str.replace(re,'<code class=percenthighlight>'+ capStr + '</code>');
							});
                    	}
						else if(k1=='dateAlias')
                    	{
							
							//alert("AcM3-" + capitalizeMe(k2));
							datecount=datecount+1;
							var capStr=capitalizeString(k2);
                    		
							var strr="<li id='dat'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#date").append(strr);
							
							//$("#date").append($('<li>').append(capStr));
                    		var re = new RegExp(capStr,"ig");
                    		str=str.replace(re,'<code class=datehighlight>'+ capStr + '</code>');
                    		//alert(str);
							$.each(v2, function(k3, v3) {
								capStr=capitalizeString(v3);
								re = new RegExp(capStr,"ig");
								str=str.replace(re,'<code class=datehighlight>'+ capStr + '</code>');
							});
                    	}
						else if(k1=='timeAlias')
                    	{
							
							//alert("AcM3-" + capitalizeMe(k2));
							timecount=timecount+1;
							var capStr=capitalizeString(k2);
							
							var strr="<li id='tim'><a href='#' style='text-decoration:none;color:black'>" + capStr + "</a></li>";
							$("#time").append(strr);
							
                    		//$("#time").append($('<li>').append(capStr));
                    		var re = new RegExp(capStr,"ig");
                    		str=str.replace(re,'<code class=timehighlight>'+ capStr + '</code>');
                    		//alert(str);
							$.each(v2, function(k3, v3) {
								capStr=capitalizeString(v3);
								re = new RegExp(capStr,"ig");
								str=str.replace(re,'<code class=timehighlight>'+ capStr + '</code>');
							});
                    	}
						
						
						
                });
                
    		});
    		
    	});
    	
    	
    	
    	$("#m2").append("&nbsp;&nbsp;&nbsp;"+personcount);
		$("#m3").append("&nbsp;&nbsp;&nbsp;"+organizationcount);
		$("#m4").append("&nbsp;&nbsp;&nbsp;"+locationcount);
		$("#m5").append("&nbsp;&nbsp;&nbsp;"+currencycount);
		$("#m6").append("&nbsp;&nbsp;&nbsp;"+percentcount);
		$("#m7").append("&nbsp;&nbsp;&nbsp;"+datecount);
		$("#m8").append("&nbsp;&nbsp;&nbsp;"+timecount);
    	
		$("#userinput").html(str);	
    		
		});
    	
    	
    	
    </script>

    
    	
    	

<div class="row" style="height:520px">
<div class="col-lg-4">	
		<div class="box" >
			<p class="headingPara">Entities</p>
			<ul id="tab" style="padding-left:10px;max-height:430px;overflow:auto">
				<li id="m2" class="header">Person</li>
				<li>
					<div id="l2cover">
						<ul id="person" style="padding-left:22px">
									
						</ul>
					</div>
				</li>
				<li id="m3" class="header">Organization</li>
				<li>
					<div id="l3cover">
						<ul id="organization" style="padding-left:22px">
									
						</ul>
					</div>
				</li>
				<li id="m4" class="header">Location</li>
				<li>
					<div id="l4cover">
						<ul id="location" style="padding-left:22px">
									
						</ul>
					</div>
				</li>
				<li id="m5" class="header">Currency</li>
				<li>
					<div id="l5cover">
						<ul id="currency" style="padding-left:22px">
									
						</ul>
					</div>
				</li>
				<li id="m6" class="header">Percent</li>
				<li>
					<div id="l6cover">
						<ul id="percent" style="padding-left:22px">
									
						</ul>
					</div>
				</li>
				<li id="m7" class="header">Date</li>
				<li>
					<div id="l7cover">
						<ul id="date" style="padding-left:22px">
									
						</ul>
					</div>
				</li>
				<li id="m8" class="header">Time</li>
				<li>
					<div id="l8cover">
						<ul id="time" style="padding-left:22px">
									
						</ul>
					</div>
				</li>
			</ul>
		</div>	
</div>

<div class="col-lg-8" style="padding-left:2px">


	<p id="userinput" class="inputdisplay">
			
		</p>
		
	<div class="row">
		<div class="col-lg-4">
			<div class="mybutton" style="width:140px;height:30px;line-height:30px;display:block">
			<a href="@routes.InputData.getInput" style="text-decoration:none;color:white;" title="Click here to give input">Try another text</a>
		
			</div>			
		</div>
		<div class="col-lg-7" style="line-height:30px;text-align:right">
			<a href="#" id="scrolltop" style="text-decoration:none;color:#000">Top</a>
		</div>
	</div>
	
		
		
		
		
		
		
		
		
		
		
</div>
</div>

	</div>
	</div>
	
	
}