@(name:String,input:String)
@import scala.util.parsing.json._
@import com.google.gson.Gson

    
 @main(title = "Diskoverora Text Analyzer") {
 
    <script>
    
    	$(document).ready(function(){

    	//	 alert('The paragraph was clicked.');
    		 
    	
    	
    	var series = @{Html(new Gson().toJson(name))};
    	var personcount=0;
    	var organizationcount=0;
    	var locationcount=0;
    	var currencycount=0;
    	var percentcount=0;
    	var datecount=0;
    	var timecount=0;
    	
    	var sentences='';
    	
		alert(series);
		
		
		/*
		
		
    	$.each(JSON.parse(series), function(idx, obj) {
    	
    		alert("M1-" + idx + ' '+ obj);		
    		//alert(obj);
    		
    		$.each(obj, function(k1, v1) {
                alert("M2-"+ k1 + ' ' + v1);
                
                $.each(v1, function(k2, v2) {
                    alert("M3-" + k2 + ' ' + v2);
                }); 
                
            });
    		
    		sentences= sentences + obj.sentence;
			
    		if(obj.person.length>0)
    		{
    			personcount=personcount+1;
    			var re = new RegExp(obj.person,"g");
    			sentences=sentences.replace(re,'<code class=personhighlight>'+ obj.person + '</code>');
    		}
    		if(obj.organization.length>0)
    		{
    			organizationcount=organizationcount+1;
    			var re = new RegExp(obj.organization,"g");
    			sentences=sentences.replace(re,'<code class=organizationhighlight>'+ obj.organization + '</code>');
    		}
    		if(obj.location.length>0)
    		{
    			locationcount=locationcount+1;
    			var re = new RegExp(obj.location,"g");
    			sentences=sentences.replace(re,'<code class=locationhighlight>'+ obj.location + '</code>');
    		}
    		if(obj.currency.length>0)
    		{
    			currencycount=currencycount+1;
    			var re = new RegExp(obj.currency,"g");
    			sentences=sentences.replace(re,'<code class=currencyhighlight>'+ obj.currency + '</code>');
    		}
    		if(obj.percent.length>0)
    		{
    			percentcount=percentcount+1;
    			var re = new RegExp(obj.percent,"g");
    			sentences=sentences.replace(re,'<code class=percenthighlight>'+ obj.percent + '</code>');
    		}
    		if(obj.date.length>0)
    		{
    			datecount=datecount+1;
    			var re = new RegExp(obj.date,"g");
    			sentences=sentences.replace(re,'<code class=datehighlight>'+ obj.date + '</code>');
    		}
    		if(obj.time.length>0)
    		{	
    			timecount=timecount+1;
    			var re = new RegExp(obj.time,"g");
    			sentences=sentences.replace(re,'<code class=timehighlight>'+ obj.time + '</code>');
    		}
    		
			//alert(obj.organization);
    		$("#person").append($('<li>').append(obj.person));
    		$("#organization").append($('<li>').append(obj.organization));
    		$("#location").append($('<li>').append(obj.location));
    		$("#currency").append($('<li>').append(obj.currency));
    		$("#percent").append($('<li>').append(obj.percent));
    		$("#date").append($('<li>').append(obj.date));
    		$("#time").append($('<li>').append(obj.time));
    		
    		
    		//alert(obj.person);
    	});
    	
		
		*/
		
    	/*
    		$("#m2").append( "<div style='background-color:yellow;width:25px;padding-left:3px;padding-right:3px;display:inline'>[ " + personcount + " ]</div>");
    		$("#m3").append("<div style='background-color:#CEF7A2;width:25px;padding-left:3px;padding-right:3px;display:inline'>[ " +organizationcount + " ]</div>");
    		$("#m4").append("<div style='background-color:#B7EDF2;width:25px;padding-left:3px;padding-right:3px;display:inline'>[ " +locationcount+ " ]</div>");
    		$("#m5").append("<div style='background-color:#F8F6C5;width:25px;padding-left:3px;padding-right:3px;display:inline'>[ " +currencycount+ " ]</div>");
    		$("#m6").append("<div style='background-color:#F7A99F;width:25px;padding-left:3px;padding-right:3px;display:inline'>[ " +percentcount+ " ]</div>");
    		$("#m7").append("<div style='background-color:#E3B2F8;width:25px;padding-left:3px;padding-right:3px;display:inline'>[ " +datecount+ " ]</div>");
    		$("#m8").append("<div style='background-color:#FCCB55;width:25px;padding-left:3px;padding-right:3px;display:inline'>[ " +timecount+ " ]</div>");
    		
    	*/
    	
    	personcount=0;
    	organizationcount=0;
    	locationcount=0;
    	currencycount=0;
    	percentcount=0;
    	datecount=0;
    	timecount=0;
    	
    	var str="@input";
    	
    	$.each(JSON.parse(series), function(idx, obj) {
    		
    		//$("#person").append($('<li>').append(obj.person));
    		
    		$.each(obj, function(k1, v1) {
                //alert("M2-"+ k1 + ' ' + v1);
                
                //$("#person").append($('<li>').append(v1));
                
        		        
                
    			$.each(v1, function(k2, v2) {
                  //  alert("M3-" + k1 + ' ' + v2);
                    	if(k1=='person')
                    	{
                    		personcount=personcount+1;
                    		$("#person").append($('<li class="persons">').append(v2));
                    		var re = new RegExp(v2,"g");
                    		str=str.replace(re,'<code class=personhighlight>'+ v2 + '</code>');
                    		//alert(str);
                    	}
                    	else if(k1=='organization')
                    	{
                    		organizationcount=organizationcount+1;
                    		$("#organization").append($('<li>').append(v2));
                    		var re = new RegExp(v2,"g");
                    		str=str.replace(re,'<code class=organizationhighlight>'+ v2 + '</code>');
                    		//alert(str);
                    		
                    	}
                    	else if(k1=='location')
                    	{
                    		locationcount=locationcount+1;
                    		$("#location").append($('<li>').append(v2));
                    		var re = new RegExp(v2,"g");
                    		str=str.replace(re,'<code class=locationhighlight>'+ v2 + '</code>');
                    		//alert(str);
                    	}
                    	else if(k1=='currency')
                    	{
                    		currencycount=currencycount+1;
                    		$("#currency").append($('<li>').append(v2));
                    		var re = new RegExp(v2,"g");
                    		str=str.replace(re,'<code class=currencyhighlight>'+ v2 + '</code>');
                    		//alert(str);
                    	}
                    	else if(k1=='percent')
                    	{
                    		currencycount=currencycount+1;
                    		$("#percent").append($('<li>').append(v2));
                    		var re = new RegExp(v2,"g");
                    		str=str.replace(re,'<code class=percenthighlight>'+ v2 + '</code>');
                    		//alert(str);
                    	}
                    	else if(k1=='date')
                    	{
                    		currencycount=currencycount+1;
                    		$("#date").append($('<li>').append(v2));
                    		var re = new RegExp(v2,"g");
                    		str=str.replace(re,'<code class=datehighlight>'+ v2 + '</code>');
                    		//alert(str);
                    	}
                    	else if(k1=='time')
                    	{
                    		currencycount=currencycount+1;
                    		$("#time").append($('<li>').append(v2));
                    		var re = new RegExp(v2,"g");
                    		str=str.replace(re,'<code class=timehighlight>'+ v2 + '</code>');
                    		//alert(str);
                    	}
                });
                
    		});
    		
    	});
    	
    	
    	
    	$("#m2").append("&nbsp;&nbsp;&nbsp;"+personcount);
		$("#m3").append("&nbsp;&nbsp;&nbsp;"+organizationcount);
		$("#m4").append("&nbsp;&nbsp;&nbsp;"+locationcount);
		$("#m5").append("&nbsp;&nbsp;&nbsp;"+currencycount);
		$("#m6").append("&nbsp;&nbsp;&nbsp;"+percentcount);
		$("#m7").append("&nbsp;&nbsp;&nbsp;"+datecount);
		$("#m8").append("&nbsp;&nbsp;&nbsp;"+timecount);
    	
    		//alert(sentences);
    		
    		//sentences=sentences.replace(/Bob/g,'<code>Bob</code>');
    
    	
    	
    		
    	$("#userinput").html(str);	
    		
		//alert(str);
    	
    	
    		
    		
    	});
    	
    	
    	
    </script>

    
    	
    	


<div class="span4">	
		<div class="box">
			<p class="headingPara">Entities</p>
			<ul id="tab">
			<!--  
				<li id="m1" class="header">Sentence</li>
				<li>
					<div id="l1cover">
						<ul id="sentence">
									
						</ul>
					</div>
				</li>
			-->
			
				<li id="m2" class="header">Person</li>
				<li>
					<div id="l2cover">
						<ul id="person">
									
						</ul>
					</div>
				</li>
				<li id="m3" class="header">Organization</li>
				<li>
					<div id="l3cover">
						<ul id="organization">
									
						</ul>
					</div>
				</li>
				<li id="m4" class="header">Location</li>
				<li>
					<div id="l4cover">
						<ul id="location">
									
						</ul>
					</div>
				</li>
				<li id="m5" class="header">Currency</li>
				<li>
					<div id="l5cover">
						<ul id="currency">
									
						</ul>
					</div>
				</li>
				<li id="m6" class="header">Percent</li>
				<li>
					<div id="l6cover">
						<ul id="percent">
									
						</ul>
					</div>
				</li>
				<li id="m7" class="header">Date</li>
				<li>
					<div id="l7cover">
						<ul id="date">
									
						</ul>
					</div>
				</li>
				<li id="m8" class="header">Time</li>
				<li>
					<div id="l8cover">
						<ul id="time">
									
						</ul>
					</div>
				</li>
			</ul>
		</div>	
</div>

<div class="span8">
		<p id="userinput" class="inputdisplay">
	
		</p>
		
		

		
		<a class="btn primary" href="@routes.InputData.getInput">Try another text</a><br/><br/>
</div>


	</div>
	</div>
	<br/><br/><br/><br/><br/><br/>	
}