@(productForm: Form[model.DataContent])
@import helper._
@import helper.twitterBootstrap._
@main("Diskoveror Text Analytics") {
 
  <div class="row full-width top">
    <div class="large-12 columns">
    <div class="row">
      <div class="header-nav">
        <div class="large-4 columns">
          <div class="row full-width">
            <div class="large-4 column">
              <p></p>
            </div>
            <div class="large-4 columns top-logo">
              <span class="bolder">Dis</span>Koveror
            </div>
            <div class="large-4 columns">
              <p></p>
            </div>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="row full-width">
            <div class="large-2 columns">
              <p></p>
            </div>
            <div class="large-2 column">
              <span><img src="@routes.Assets.at("images/home.png")" alt="" class="home icons"></span>
              <span><a href="">Home</a></span>
            </div>
            <div class="large-2 column">
              <span><img src="@routes.Assets.at("images/analyze.png")" alt="" class="analyze icons"></span>
              <span><a href="">Analyze</a></span>
            </div>
            <div class="large-2 column">
              <span><img src="@routes.Assets.at("images/doc.png")" alt="" class="doc icons"></span>
              <span><a href="">API Docs</a></span>
            </div>
            <div class="large-2 column">
              <span><img src="@routes.Assets.at("images/about.png")" alt="" class="about icons"></span>
              <span><a href="">About Us</a></span>
            </div>
            <div class="large-2 columns">
              <p></p>
            </div>
          </div>  
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="row full-width FixHeight">
    <div class="large-12 columns">
    <div class="row">
      <div class="AnalyticEngine">
        <div class="large-4 columns">
          <div class="row full-width">
            <div class="large-3 column">
              <p></p>
            </div>
            <div class="large-9 columns AEText">
              Analytics Engine
            </div>
          </div>
          <div class="row full-width">
            <div class="large-3 column">
              <p></p>
            </div>
            <div class="large-9 columns">
              <div class="nano">
                <div class="nano-content">
                <ul class="collapsibleList">
                <li>
                  <span class="entitySpan" onClick="revealDiv()"><img src="@routes.Assets.at("images/add.png")" alt="" class="symbol collapsibleList" ></span>Entities
                    <ul class="entityListDiv" id="drop1">
                    <li id="m2" class="entityList">Person</li>
                    <li>
                      <div id="l2cover">
                        <ul id="person" style="padding-left:22px">
                              
                        </ul>
                      </div>
                    </li>
                    <li id="m3" class="entityList">Organization</li> 
                    <li>
                      <div id="l3cover">
                        <ul id="organization" style="padding-left:22px">
                              
                        </ul>
                      </div>
                    </li>
                    <li id="m4" class="entityList">Location</li>
                    <li>
                      <div id="l4cover">
                        <ul id="location" style="padding-left:22px">
                              
                        </ul>
                      </div>
                    </li>    
                    <li id="m5" class="entityList">Currency</li>
                    <li>
                      <div id="l5cover">
                        <ul id="currency" style="padding-left:22px">
                              
                        </ul>
                      </div>
                    </li> 
                    <li id="m6" class="entityList">Percent</li> 
                    <li>
                      <div id="l6cover">
                        <ul id="percent" style="padding-left:22px">
                              
                        </ul>
                      </div>
                    </li>
                    <li id="m7" class="entityList">Date</li> 
                    <li>
                      <div id="l7cover">
                        <ul id="date" style="padding-left:22px">
                              
                        </ul>
                      </div>
                    </li>
                    <li id="m8" class="entityList">Time</li>
                    <li>
                      <div id="l8cover">
                        <ul id="time" style="padding-left:22px">
                              
                        </ul>
                      </div>
                    </li> 
                    </ul>
                </li>   
                <li><span class="entitySpan"><img src="@routes.Assets.at("images/add.png")" alt="" class="symbol"></span>Topics</li>
                <li><span class="entitySpan"><img src="@routes.Assets.at("images/add.png")" alt="" class="symbol"></span>Sentiments</li>
                </li>   
                </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="row full-width">
            <div class="large-10 columns">
              
              @helper.form(action = routes.InputData.getJSON()) {
              @helper.textarea(productForm("rawInput"), '_label ->"")
                
            </div>
            <div class="large-2 columns">
              <p></p>
            </div>
          </div>  
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="row full-width">
    <div class="final-options">
      <div class="large-4 columns">
        <p>
        </p>
      </div>
      <div class="large-8 columns">
        <div class="row full-width">
          <div class="large-2 columns" style="padding-top:7px;">
          <input type="checkbox" id="general"><span style="padding-left:7px;">General</span>
          </div>
          <div class="large-3 columns" style="padding-top:7px; margin-left:-10px;">
            <input type="checkbox" id="lifeSciences"><span style="padding-left:7px; ">Life Sciences</span>
          </div>
          <div class="large-3 columns" style="padding-top:7px; margin-left:-50px;">
          
            <input href="#" type="submit" class="button secondary radius" value="JSON Output" style="padding: 5px 20px; font-size:15px; font-weight:300; font-weight:lighter;"></input>
            
          </div>
          <div class="large-3 columns" style="margin-left:70px;">
            <input href="#" type="submit" class="button secondary radius" value="Analyze Now" style="padding: 5px 20px; font-size:15px; font-weight:300; font-weight:lighter;"></input>
          </div>
          <div class="large-1 columns">
            <p></p>
          </div>
        </div>  
      </div>
    </div>
  </div>
  }
  

}
